[bin.clusterha]
src_path = bin/bin.clusterha
dst_path = ~/bin/bin.clusterha
platform = Linux

[bin.clusterha_probe]
src_path = bin/bin.clusterha_probe
dst_path = ~/bin/bin.clusterha_probe
platform = Linux

[test_script.sh]
src_path = etc/cluster/scripts/test_script.sh
dst_path = /etc/cluster/scripts/test_script.sh
platform = Linux

[bin.redhat]
src_path = bin/bin.redhat
dst_path = ~/bin/bin.redhat
platform = Linux

