# This is an example configuration file for changing the default bahavior of
# installation of files. Please note that the src_path is relative path.

# Copy this file to the home directory: ~/.dot.config
# Valid Platforms are: Darwin(OSX), Linux, or empty string for stands for any OS.
[bin.clusterha]
src_path = bin/bin.clusterha
dst_path = ~/bin/bin.clusterha
platform = Linux

[bin.clusterha_probe]
src_path = bin/bin.clusterha_probe
dst_path = ~/bin/bin.clusterha_probe
platform = Linux

[test_script.sh]
src_path = dot.config/etc/cluster/scripts/test_script.sh
dst_path = /etc/cluster/scripts/test_script.sh
platform = Linux
