# List of all the files that will be ignored by git.
# Compiled Python files
*.pyc
*.pyo

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files and backup files
._*
.*~
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
