[Unit]
Description=lsb-resource: A simple script for testing pacemaker systemd resources

[Service]
Type=forking
PIDFile=/var/run/lsb-resource.pid
ExecStart=/etc/init.d/lsb-resource start
ExecStop=/etc/init.d/lsb-resource stop
ExecReload=/etc/init.d/lsb-resource reload
Restart=always

[Install]
WantedBy=default.target
